<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= post.title %> | GameSphere></title>
    <link rel="stylesheet" href="/css/ejs.css">
</head>
<body>
    <header><%- include ("nav") -%></header>
    <main id="postDetail">
        <%- include ("loadingScreen") -%>
        
        <section></section>
        <section>
            <div>
                <img src="<%= author.profilepic %>" alt="">
                <p><%= post.user %></p>
            </div>
            <h1><%= post.title %></h1>
            <p><%= post.description %></p>
        </section>
        <section>
            <input type="button">
        </section>
    </main>
</body>
</html>